{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div class='project-detail'>
            <h1>{{ project }}</h1>
            <p>{{ project.description|markdownify }}</p>
            <div>
                <form method="none" action="{% url 'project_edit' project.id %}">
                    {% csrf_token %}
                    <button>Edit</button>
                </form>
                <form method="none" action="{% url 'project_delete' project.id %}">
                    {% csrf_token %}
                    <button>Delete</button>
                </form>
            </div>
            <h2>Tasks</h2>
            <p>
                <form method="none" action="{% url 'create_task' %}">
                    {% csrf_token %}
                    <button>Create a new task</button>
                </form>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th colspan='2'>Name</th>
                            <th colspan='2'>Assignee</th>
                            <th colspan='2'>Start date</th>
                            <th colspan='2'>Due date</th>
                            <th colspan='2'>Is completed</th>
                            <th colspan='2'>Delete?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td colspan='2'>{{ task }}</td>
                                <td colspan='2'>{{ task.assignee }}</td>
                                <td colspan='2'>{{ task.start_date }}</td>
                                <td colspan='2'>{{ task.due_date }}</td>
                                <td colspan='2'>{{ task.is_completed | yesno }}</td>
                                <td colspan='2'>
                                    <form method="post" action="{% url 'delete_task' task.id %}">
                                        {% csrf_token %}
                                        <button>Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
