{% extends 'base.html' %}
{% block content %}
    <main>
        <div class='project-list'>
            <h1>My Projects</h1>
            <p>
                <form method="none" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    <button>Create a new project</button>
                </form>
            </p>
            {% if project_list %}
                <table>
                    <thead>
                        <tr>
                            <th colspan='2'>Name</th>
                            <th colspan='2'>Number of tasks</th>
                            <th colspan='2'>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td colspan='2'>
                                    <a href="{% url 'show_project' project.pk %}">{{ project }}</a>
                                </td>
                                <td colspan='2'>{{ project.tasks.all | length }}</td>
                                <td colspan='2'>{{ project.members.all }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>"You are not assigned to any projects"</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
